@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	--line-color: #e5e7eb;
}
html.dark {
	--line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
	@apply border border-black/10;
}
.font-poppins {
	font-family: 'Poppins', sans-serif;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Playfair+Display:wght@700&display=swap');
